h1 {
    color: cornflowerblue;
font-family: 'Courier New', Courier, monospace;
}
#first {
    text-align: center;
    background-color: rgba(192, 192, 192, 0.616);
    
}
h2 {
    color:rgba(255, 0, 0, 0.548);
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 30px;
    
}
#au {
  background-color: greenyellow;
  margin-top: 20px;
  margin-right: 5px;
  font-size: 30px;
}
#pa {
    background-color: green;
    margin-top:20px ;
    margin-left:20px ;
    font-size: 30px;
}
#second {
    text-align:center;
}
h3 {
    font-size: 20px;

}
#mu {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
    background-color: aliceblue;   
}
#vgames {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    background-color: chocolate;
}
